.overview-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.heading {
    margin-bottom: 2rem;
    text-align: start;
}

.subtitle {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 500;

    letter-spacing: 0px;
    color: rgb(115, 90, 229);
    color: var(--sh-primary);
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    margin: 0px;
}

.home-section h1 {
    font-size: 2.63rem;
    line-height: 1.4;

    letter-spacing: 0px;
    color: rgb(9 58 90);
    line-height: 62px;
    margin: 0px 0px 15px;
    font-weight: 700;
}

.highlight-overview {
    font-weight: 400;
    font-size: 38px;
    line-height: 62px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(114deg, #1975C9, #A3D1F5 69%, #0D4A89) 0px 0px no-repeat padding-box text transparent;
}

.highlight {
    font-weight: 400;
    font-size: 24px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(114deg, #1975C9, #A3D1F5 69%, #0D4A89) 0px 0px no-repeat padding-box text transparent;
}

.stats {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.stat-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}



.stat-item h2,
.stat-item>span {
    font-size: 2.4rem;
    color: var(--sh-secondary);
    font-weight: 500;
}

.stat-item p {
    font-size: 1rem;
    color: #7c7c7c;
}

.visuals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.visuals img {
    width: 100%;
}

.image-box {
    flex: 1;
    text-align: center;
}

.main-image {
    max-width: 80%;
    border-radius: 8px;
}

.process-image,
.truck-image {
    flex: 1;
    text-align: center;
}

.secondary-image,
.tertiary-image {
    max-width: 70%;
    border-radius: 8px;
}