.operations-panel-container {
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}




.operations-dashboard-image img {
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
}

.feature-card {
    text-align: left;
    padding: 20px;
    width: 100%;
    background: linear-gradient(344deg, #cce4f9, #e7e5e500);
    border-radius: 8px;
    box-shadow: 0 0 7px #ebeaea;
}

.operatons-icon img {
    width: 100px;
    height: 100px;
}


.feature-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #092c4c;
}

.feature-card p {
    font-size: 14px;
    color: #555;
}

.insight-footer {
    margin-top: 20px;
}

.insight-footer p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}