.detailed-footer {
    background-color: var(--sh-secondary);
    padding: 10px 20px 10px;
    text-align: center;
    border-top: 1px solid rgba(221, 221, 221, 30);
}

.detailed-footer__container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.detailed-footer__text {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
}

.detailed-footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.detailed-footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.detailed-footer__link:hover {
    color: #C5DCF1;
    text-decoration: underline;
}