.rs-section {
    background: var(--sh-primary-middle);
    padding-top: 30px !important;
    position: relative;
    overflow: hidden;
}

.rs-section .overview-container {
    position: relative;
    z-index: 1;
}

.rs-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../../assets/image/realistic-white-golden-geometric-background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.rs-section .subtitle {
    color: #fff;
}

.rs-section h1 {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(114deg, #C5DCF1, #ddd 69%) 0px 0px no-repeat padding-box text transparent;
}

.smart-report-container {
    text-align: center;
    padding: 20px;
}

.title {
    color: #092C4C;
    /* Adjust based on design */
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.text {
    color: #092C4C;
    /* Adjust based on design */
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}