.business-growth-container {
    padding: 20px;
    text-align: center;
}

.heading {
    color: #2b2b6d;
    /* Adjust the color */
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.dashboard-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.dashboard-image {
    max-width: 100%;
    height: auto;
    /* border: 1px solid #ddd; */
    /* Optional border for visibility */
    border-radius: 10px;
    /* Rounded corners */
    margin-bottom: 50px;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    /* Ensures responsiveness */
    gap: 30px;
}

.feature-item {
    background: linear-gradient(135deg, #e0f7ff, #c0e7ff);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* vert-card */

    background: linear-gradient(150.67deg, #C5DCF1 20.05%, #60A9EB 41.29%, #1975C9 86.07%);
    border-radius: 12px;

}

.feature-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.feature-title {
    color: #2b2b6d;
    /* Adjust the color */
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-description {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.4;
}