.amazon-self-ship {
    background-color: #f9f9f9;
    color: #333;
}

.amazon-self-ship-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.amazon-self-ship__header {
    background: linear-gradient(90deg,
            #60a9eb 0%,
            #C5DCF1 25%,
            #fff 50%,
            #C5DCF1 75%,
            #60a9eb 100%);
    /* color: #fff; */
    padding: 40px 20px;
    text-align: center;
}

.amazon-self-ship__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.amazon-self-ship__subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Features Section */
.amazon-self-ship__features {
    padding: 40px 0;
}

.amazon-self-ship__section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.amazon-self-ship__features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.amazon-self-ship__feature {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.amazon-self-ship-container h3 {
    color: #092C4C;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/* Steps Section */
.amazon-self-ship__steps {
    background: #f1f5f9;
    padding: 40px 0;
}

.amazon-self-ship__steps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.amazon-self-ship__step {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.amazon-self-ship__step-icon {
    background: #092C4C;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 0 auto 10px auto;
}

/* Footer */
.amazon-self-ship__footer {
    background: #092C4C;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 60px;
}

.amazon-self-ship__cta {
    background: #fff;
    color: #092C4C;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.amazon-self-ship__cta:hover {
    background: #0056b3;
    color: #fff;
}