.channel-integration__header {
    background: linear-gradient(90deg, #60a9eb 0%, #c5dcf1 100%);
    text-align: center;
    padding: 40px 20px;
    /* color: #092C4C; */
}

.channel-integration__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.channel-integration__subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
}

.channel-integration__content {
    padding: 40px 20px;
}

.channel-integration__section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.channel-integration__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
    max-width: 1200px;
    margin-inline: auto;
}

.channel-integration__item {
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    min-width: 100%;
}

.channel-integration__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.channel-integration__image {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    object-fit: contain;
}

.channel-integration__item h3 {
    color: #092C4C;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.channel-integration__item p {
    font-size: 1rem;
    color: #555;
    font-weight: 400;
}