.footer {
    /* background-color: #000000; */
    padding: 40px 0px 5px 60px;
    color: #fff;
    /* border-radius: 40px 40px 0 0; */
    /* background: linear-gradient(312deg,
            #60a9eb 0%,
            #1975C9 50%,
            #60a9eb 100%); */
    /* background: #000000; */
    background: #041f37;
    /* background-color: #1975c9; */
  /* background: linear-gradient(135deg, #1062ae, #03335d); */
    /* color: #092C4C; */
    border-radius: 44px 44px 0 0;
    margin-top: 100px;
}
.footer-column-main{
    width: 30%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* background: transparent url(../../assets/image/footer-bg.png) no-repeat right top; */
    background-size: contain;
}

.footer-logo-section {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.footer-social-icons a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social-icons a:hover {
    color: #007bff;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-column h4 {
    font-size: 19px;
    margin-bottom: 14px;
    font-weight: bold;
    position: relative;
}

/* .footer-column h4::after {
    content: "";
    position: absolute;
    width: 127px;
    background: #fff;
    height: 2px;
    left: 0;
    bottom: -3px;
} */

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 16px;
    /* font-weight: 600; */
}

.footer-column p {
    font-size: 16px;
    line-height: 1.6;
}

.app-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-links img {
    width: 120px;
}

.main-social {
    /* padding: 5px 10px; */
    /* padding-top: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
}

.main-social:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
    border: none !important;
}

.social-icon {
    font-size: 20px;
    color: #000000;
    /* color: #092C4C; */
    margin: 0;
    transition: color 0.3s;
}

.social-icon:hover {
    /* color: var(--sh-primary); */
    /* Change color on hover */
}
.main-social a:hover {
       text-decoration: none !important;
       background-color: none;
}

.reach-us li {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.reach-us li svg {
    margin-top: 4px;
}

.footer-column a {
    text-decoration: none;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.6;
}

.footer-column a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.footer-column a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.footer-column a:hover::after {
    width: 100%;
}



.footer-column a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    transition: 0.2s ease-in-out;
}

.reach-us li a,
.reach-us li p {
    margin-bottom: 0;
    max-width: 80%;
    word-wrap: break-word;
}

/* media queries */

@media (max-width: 816px) {
  .footer-column-main {
    width: auto; 
  }
}