.footer {
    background-color: #092C4C;
    padding: 40px 10px 5px 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    /* border-radius: 40px 40px 0 0; */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: transparent url(../../assets/image/footer-bg.png) no-repeat right top;
    background-size: contain;
}

.footer-logo-section {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.footer-social-icons a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social-icons a:hover {
    color: #007bff;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.app-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-links img {
    width: 120px;
}

.social-icon {
    font-size: 20px;
    color: #fff;
    margin: 0;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--sh-primary);
    /* Change color on hover */
}

.reach-us li {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.reach-us li svg {
    margin-top: 4px;
}

.reach-us li p {
    margin-bottom: 0;
    max-width: 180px;
}