.insights-container {
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.insights-header h5 {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
}

.insights-header h1 {
  font-size: 28px;
  margin: 10px 0;
}

.insights-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.insights-text-content {
  margin-bottom: 20px;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-between;
}

.insights-text-content p {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0;
  text-align: left;
  font-weight: 700;
}

.insights-visuals img {
  max-width: 80%;
  text-align: center;
  margin-top: 80px;
}

.chart,
.data-cards {
  background-color: #e6f7ff;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.insights-footer {
  margin-top: 20px;
}

.insights-footer p {
  font-size: 24px;
  line-height: 1.6;
  text-align: left;
}