.insights-container {
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.insights-header h5 {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
}

.insights-header h1 {
  font-size: 28px;
  margin: 10px 0;
}

.insights-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.insights-text-content {
  margin-bottom: 20px;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-between;
}

.insights-text-content h3 {
  color: var(--sh-primary);
  font-weight: 700;
}

.insights-text-content p {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0;
  /* text-align: left; */
  font-weight: 700;
}

.insights-visuals img {
  max-width: 80%;
  text-align: center;
  margin-top: 80px;
}

.chart,
.data-cards {
  background-color: #e6f7ff;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.insights-footer-container {
  background: linear-gradient(90deg,
      #60a9eb 0%,
      #C5DCF1 25%,
      #fff 50%,
      #C5DCF1 75%,
      #60a9eb 100%);
  /* background: #fff; */
  overflow: hidden;
  background: var(--sh-primary-middle);
  padding: 70px 2rem 50px;
  margin: 0 0 40px !important;
  background-image: url("../../../../assets/image/grid.png");
  background-size: contain;
  background-repeat: repeat;
  animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5000px 0px;
  }
}

.insights-footer {
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin-inline: auto;
  gap: 10px;
}

.insights-footer::before {
  top: -26px;
}

.insights-footer::after {
  bottom: -30px;
}

.insights-footer::before,
.insights-footer::after {
  content: "";
  position: absolute;
  left: -10px;
  /* background: #F4F7FC; */
  filter: blur(9px);
  height: 50px;
  width: 110%;
}

.insights-footer p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  font-weight: 600;
}

.insights-footer img {
  max-width: 500px;
}