:root {
    --sh-primary: #1975C9;
    --sh-primary-middle: #60a9eb;
    --sh-primary-light: #c5dcf1;
    --sh-green: #3BB54B;
    --sh-bg-green: #ECF8EE;
    --sh-red: #F31429;
    --sh-bg-red: #FCEAEA;
    --sh-ddd: #dddddd;
}

.main-button {
    /* background-color: #1975C9 !important; */
    background: linear-gradient(180deg, var(--sh-primary-light) 0%, var(--sh-primary-middle) 0%, var(--sh-primary) 100%);
    color: #fff;
    padding: 5px 10px;
    white-space: nowrap;
    border: 0;
}

.main-button:hover {
    /* background-color: #1975C9 !important; */
    color: #fff;
}

.main-button-outline:focus-visible,
.main-button-outline:active,
.main-button-outline {
    border-color: var(--sh-primary);
    color: var(--sh-primary);
    /* background-color: #fff; */
    padding: 5px 10px;
    white-space: nowrap;
}

.main-button-outline:hover {
    /* background-color: #1975C9 !important; */
    background: linear-gradient(180deg, var(--sh-primary-light) 0%, var(--sh-primary-middle) 0%, var(--sh-primary) 100%);
    color: #fff;
}