:root {
    --sh-primary: #1975C9;
    --sh-primary-middle: #60a9eb;
    --sh-primary-light: #c5dcf1;
    --sh-green: #3BB54B;
    --sh-bg-green: #ECF8EE;
    --sh-red: #F31429;
    --sh-bg-red: #FCEAEA;
    --sh-ddd: #dddddd;
}
