.channel-carousel {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: #fff;
    margin-top: -81px;
    padding-block: 72px 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 15px #c5dcf1;
}

.channel-carousel .slick-track {
    display: flex;
    align-items: center;
}

.carousel-item {
    text-align: center;
    padding: 10px;
}

.carousel-image {
    width: 100%;
    max-width: 120px;
    height: auto;
    max-height: 100px;
    object-fit: contain;
}

.loading-spinner {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

.no-data {
    text-align: center;
    font-size: 1rem;
    color: #999;
    margin-top: 20px;
}