.channel-carousel {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: #f9f9f9;
    margin-top: -81px;
    z-index: -1;
    position: relative;
}

.carousel-item {
    text-align: center;
    padding: 10px;
}

.carousel-image {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: contain;
}

.loading-spinner {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

.no-data {
    text-align: center;
    font-size: 1rem;
    color: #999;
    margin-top: 20px;
}